.accordion__item {
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  border-bottom: 1px solid rgba(108, 108, 108, 0.5);
}

.accordion__header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0;
  opacity: 1;
  color: #fff;
  font-weight: 500;
  background-color: #fff;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.accordion__header.filter__price {
  padding: 0 0 30px 0;
}

.filter__price.accordion__header::before {
  top: 7px;
}

.accordion__header::before {
  position: absolute;
  top: 38px;
  right: 10px;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  background-image: url("../images/icons/filter-arrows.svg");
  background-repeat: no-repeat;
  content: "";
}

.accordion__item_show .accordion__header::before {
  transform: rotate(-180deg);
}

.accordion__header:hover {
  background-color: #ffffff;
}

.accordion__item_hidden .accordion__header {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.accordion__body {
  overflow: hidden;
  background: #fff;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  margin-bottom: 20px;
}

.accordion__item:not(.accordion__item_show) .accordion__header {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
  display: none;
}